.auto_scroll_bg {
    -webkit-transform: translateX(calc(var(--scrollStatic)*-1px));
    -ms-transform: translateX(calc(var(--scrollStatic)*-1px));
    transform: translateX(calc(var(--scrollStatic)*-1px));
    -webkit-transition: -webkit-transform 500ms ease-in 0s;
    transition: -webkit-transform 500ms ease-in 0s;
    -o-transition: transform 500ms ease-in 0s;
    transition: transform 500ms ease-in 0s;
    transition: transform 500ms ease-in 0s, -webkit-transform 500ms ease-in 0s;
}






/* @media screen and ((min-width: 0px) and (max-width:639px)) {
    .top_view_phone {
        transform: translate(calc(var(--scroll)*-1px), -50px) translate(150px, 0px);
    }

}

@media screen and ((min-width: 1024px)) {
    .top_view_phone {
        transform: translate(calc(var(--scrollOfElement1)*-2px), -80px) translate(200px, 0px);
    }
} */