#Chip {
        opacity: 0;
        -webkit-animation-name: showElement;
        animation-name: showElement;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}

#processor {
        opacity: 0;
        -webkit-animation-name: showElement;
        animation-name: showElement;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
}

#lights {
        opacity: 0;
        -webkit-animation-name: showElement;
        animation-name: showElement;
        -webkit-animation-duration: 0.5;
        animation-duration: 0.5;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-delay: 4.5s;
        animation-delay: 4.5s;
}

/* #paths {
    opacity: 0;
    animation-name: showElement;
    animation-duration: 0.2;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 5s;
} */

/* #paths_static{
    opacity: 1;
    animation-name: hideElement;
    animation-duration: 0.2;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 5s;
} */

#led_connectors {
        opacity: 1;
        -webkit-animation-name: hideElement;
        animation-name: hideElement;
        -webkit-animation-duration: 0.2s;
        animation-duration: 0.2s;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;


}


/* drawline */

#left_line_1 {
        stroke-dashoffset: 2000;
        stroke-dasharray: 2000;
        -webkit-animation-name: drawLine;
        animation-name: drawLine;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-delay: 5.5s;
        animation-delay: 5.5s;
}

/* #right_pulse,
#left_pulse_1,
#left_pulse_2,
#up_pulse_1,
#up_pulse_2,
#up_pulse_3,
#up_pulse_4 {
    opacity: 0;
    animation-name: showElement;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 5.5s;
} */



#right_pulse {
        opacity: 0;
        -webkit-animation-delay: 5.7s;
        animation-delay: 5.7s;
        -webkit-animation-name: showElement, pulse, moveToLeft;
        animation-name: showElement, pulse, moveToLeft;
        -webkit-animation-duration: 0.5s, 2s, 2s;
        animation-duration: 0.5s, 2s, 2s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

#left_pulse_1 {
        opacity: 0;
        -webkit-animation-delay: 6.7s;
        animation-delay: 6.7s;
        -webkit-animation-name: showElement, pulse, moveToRight;
        animation-name: showElement, pulse, moveToRight;
        -webkit-animation-duration: 0.5s, 2s, 2s;
        animation-duration: 0.5s, 2s, 2s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

#left_pulse_2 {
        opacity: 0;
        -webkit-animation-delay: 8s;
        animation-delay: 8s;
        -webkit-animation-name: showElement, pulse, moveToRight;
        animation-name: showElement, pulse, moveToRight;
        -webkit-animation-duration: 0.5s, 1s, 2s;
        animation-duration: 0.5s, 1s, 2s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

#up_pulse_1,
#up_pulse_2,
#up_pulse_3,
#up_pulse_4 {
        opacity: 0;
        -webkit-animation-delay: 7s;
        animation-delay: 7s;
        -webkit-animation-name: showElement, pulse, moveToDown;
        animation-name: showElement, pulse, moveToDown;
        -webkit-animation-duration: 0.5s, 1.5s, 2s;
        animation-duration: 0.5s, 1.5s, 2s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}

#down_pulse_1,
#down_pulse_2,
#down_pulse_3 {
        opacity: 0;
        -webkit-animation-delay: 6.5s;
        animation-delay: 6.5s;
        -webkit-animation-name: showElement, pulse, moveToUp;
        animation-name: showElement, pulse, moveToUp;
        -webkit-animation-duration: 0.5s, 1.5s, 2s;
        animation-duration: 0.5s, 1.5s, 2s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
}






@-webkit-keyframes moveToLeft {
        to {
                -webkit-transform: translate(-550px, 0px);
                transform: translate(-550px, 0px);
        }
}






@keyframes moveToLeft {
        to {
                -webkit-transform: translate(-550px, 0px);
                transform: translate(-550px, 0px);
        }
}

@-webkit-keyframes moveToRight {
        to {
                -webkit-transform: translate(550px, 0px);
                transform: translate(550px, 0px);
        }
}

@keyframes moveToRight {
        to {
                -webkit-transform: translate(550px, 0px);
                transform: translate(550px, 0px);
        }
}

@-webkit-keyframes moveToDown {
        to {
                -webkit-transform: translate(0px, 450px);
                transform: translate(0px, 450px);
        }
}

@keyframes moveToDown {
        to {
                -webkit-transform: translate(0px, 450px);
                transform: translate(0px, 450px);
        }
}

@-webkit-keyframes moveToUp {
        to {
                -webkit-transform: translate(0px, -450px);
                transform: translate(0px, -450px);
        }
}

@keyframes moveToUp {
        to {
                -webkit-transform: translate(0px, -450px);
                transform: translate(0px, -450px);
        }
}

@-webkit-keyframes showElement {
        to {
                display: block;
                opacity: 1;
        }
}

@keyframes showElement {
        to {
                display: block;
                opacity: 1;
        }
}

@-webkit-keyframes hideElement {
        to {
                display: none;
                opacity: 0;
        }
}

@keyframes hideElement {
        to {
                display: none;
                opacity: 0;
        }
}


@-webkit-keyframes drawLine {
        to {
                stroke-dashoffset: 0;
        }

        ;



}


@keyframes drawLine {
        to {
                stroke-dashoffset: 0;
        }

        ;



}

@-webkit-keyframes pulse {
        0% {
                opacity: 1;
        }

        ;

        50% {
                opacity: 0;
        }

        ;

        100% {
                opacity: 1;
        }

        ;
}

@keyframes pulse {
        0% {
                opacity: 1;
        }

        ;

        50% {
                opacity: 0;
        }

        ;

        100% {
                opacity: 1;
        }

        ;
}